footer {
  color: hotpink;
  position: fixed;
  bottom: 0;
  right: 0;
}

ul1 {
  float: left;
  color: hotpink;
  padding: 20px
}
ul2 {
  float: middle;
  color: hotpink;
  padding: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

ul3 {
  float; Left;
  right: 0px;
  color: hotpink;
  padding: 20px;
}

body {
  background-color: black;
}

h1 {
  color: hotpink;
  padding: 20px
}

h2 {
  float: middle;
  color: hotpink;
  padding: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  float: right;
  color: hotpink;
  padding: 20px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}